body{
    background-color:#383838;
    padding:50px;
    }
    nav{
        display:flex;
        align-items:center;
        justify-content:space-between
    }
    .left-section{
        margin-top:4px;
        margin-right: 6px;;
    }
    .picture-button{
        width:100px;
        /* height:36.61px; */
        margin-top:20px;
        /* margin-left:78px; */
        border-radius:40px;
        border-style:none;
        /* color:#D9D9D9; */
        background-color:#D9D9D9;
    }
    .picture-button img{
        width:30px;
        height:30px;
        margin-top:6px;
        margin-left:50px;
    }
    .Dark-mood{
        width:107px;
        height:17px;
        /* margin-top:107px;/ */
        /* margin-left:80px; */
    }
    .Dark-mood p{
        font-family:poppins ,Arial, Helvetica, sans-serif;
        font-size:18px;
        font-weight:800px;
        line-height:27px;
        color:#D9D9D9;
    
    }
    .search-icon{
        width:40px;
        height:46px;
        margin-top:12px;
        margin-left:29px;
    
        position:absolute;
        z-index: 1;
    
    }
    .search-bar{
        position:relative;
        width:803px;
        height:62px;
        /* margin-top:63px; */
        /* margin-left:259px; */
        border-radius:40px;
        background-color:#444444;
        border:none;
        padding-left:100px;
        color:white;
        text-transform: capitalize;
        font-size:18px;
    }
    .search-bar::placeholder{
        width:621px;
        height:28px;
        margin-top:86px;
        margin-left:100px;
        font-family:poppins,arial;
        font-weight:400px;
        font-size:18px;
        line-height: 27px;
        color:#ffffff 60%;
    }
    .current-location{
        display:flex;
        align-items: center;
        width:292px;
        height:62px;
        padding:30px;
        /* margin-top:63px; */
        /* margin-left:1143px; */
        border-radius:40px;
        background-color: #4cbb17;
        /* justify-content: space-around; */
        border:none;
    }
    .current-location img{
        width:35px;
        height:35px;
        /* margin-top:62px; */
        /* margin-left:1168px; */
    }
    .current-location p{
        /* width:20px; */
        margin-left:6px;
        height:62px;
        color:#ffffff;
        margin-top:45px;
        /* margin-left:1207px; */
        font-family: poppins,arial;
        font-weight:800px;
        font-size:22px;
        line-height:33px;
        text-align: center;
        
    }
    .athens{
        width:510px;
        height:330px;
        margin-top:80px;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        border-radius:30px;
        background-color:#444444;
        box-shadow: 5px 5px 10px rgb(15, 15, 15);
    }
    .athons{
        font-family:poppins,arial;
        font-weight:700px;
        font-size:36px;
        line-height: 52px;
        color:#ffffff;
    }
    .time{
        font-family: poppins,arial;
        font-weight:700px;
        font-size:96px;
        line-height:144px;
        color:#ffffff
    }
    .thursday{
        font-family: poppins,arial;
        font-weight:400px;
        font-size:20px;
        line-height:30px;
        color:#ffffff;
        text-align: center;
    }
    .feel-like{
        display:flex;
        flex-direction: column;
        margin-top:-100px;
        margin-left:10px;
        justify-content:space-between;
        flex:1;
        /* align-items: center; */
    }
    .sunrise{
        display:flex;
        flex:1;
    }
    .deg{
        font-family:poppins,arial;
        font-weight:700px;
        font-size:80px;
        line-height: auto;
        opacity:100%;
        color:#ffffff;
    }
    .deg span{
        opacity:60%;
    }
    .feels{
        font-family: poppins,arial;
        font-weight:600px;
        font-size:auto;
        line-height:30px;
        color:#ffffff;
        opacity:80%;
        margin-top:-105px;
    }
    .feels span{
        font-family: poppins,arial;
        font-size:32px;
        line-height: auto;
        color:#ffffff;
        opacity:80%;
    }
    .div-container{
        display: flex;
        width:780px;
        background-color:#444444 ;
        box-shadow:5px 5px 10px #000000;
        height:330px;
        border-radius: 30px;
        align-items: center;
        justify-content: space-between;
        /* padding:20px; */
        /* padding-top:0px; */
        margin-bottom:-65px;
        /* box-sizing: border-box; */

    }
    .first-section{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .sunrise{
        margin-top:35px;
        width:153.15px;
    }
    .sunny-image{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .the-sunny-image{
        width:270px;
        margin-top:-8px;
    }
    .type-of-weather{
        font-family:poppins,arial;
        font-weight:600px;
        font-size:32px;
        line-height:48px;
        text-align: center;
        margin-top:-10px;
        color:#ffffff;

    }
    .wind{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        /* width:20px; */
    }
    .humidity{
        display:flex;
        justify-content: space-between;
        align-items:center;
        gap:30px;
    }
    .pressure{
        display:flex;
        justify-content: space-between;
        align-items:center;
        gap:30px;
    }
    /* .humidity-picture{ */
        /* margin-left:-62px; */
    /* } */
    .wind{
        /* display:flex; */
        flex:1;
    }
    /* .pressure-pic{
        /* margin-left:-62px; */
    /* } */ */
    /* .uv-white{
        display:flex;
        flex-direction: column;
        align-items: center; */
    /* } */
    /* .uv-white p{
        text-align: center;
        color:white;
        /* align-items:center; */
        /* margin-right:49px;
        font-family:poppins,arial;
        font-weight:500px;
        font-size:16px;
        line-height:24px;
    } */ */
    .eight{
        color:white;
        /* margin-left:-49px; */
        font-family: poppins,arial;
        font-weight:500px;
        font-size:16px;
        line-height:24px;
        text-align: center;
    }
    .fourty-one{
        color:white;
        /* margin-left:-49px; */
        font-family: poppins,arial;
        font-weight:500px;
        font-size:16px;
        line-height:24px;
    }
    .humidity{
    color:white;
        /* margin-left:-49px; */
        font-family: poppins,arial;
        font-weight:500px;
        font-size:16px;
        line-height:24px;}
        .uv{
            /* margin-right:-12px; */
            text-align: center;
        }